extend layout_1_3
block content
	#page-classimport(data-role="page")
		div(data-role="header")
			a(href="/club/#{club.name}/manageseasons", data-icon="arrow-l") Back
			h1 AXWare Class Import
		div(data-role="content")
			h2 Import completed
			p Here's what we imported into the system.
			if (message.length > 0)
				.ui-body.ui-body-e=message

			if paxClasses.length > 0
				h1 PAX Classes (rollups) Imported
				table
					thead
						tr
							th Name 
							th Category 
							th Description
							th Ladies?
					tbody
						each p in paxClasses
							tr
								td=p.name 
								td=p.category 
								td=p.description
								td=p.isLadies

			if classes.length > 0
				h1 Classes Imported
				table(width="100%")
					thead
						tr
							th Class 
							th Index
							th Description
							th Category
					tbody
						each c in classes
							tr
								td=c.name
								td=c.index 
								td=c.description
								td=c.category 
